.form__header {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.form__buttons {
    display: flex;
    gap: 0.5rem;

    margin-top: 1rem;
}

.form__album__image {
    text-align: center;
}

.form__album {
    min-width: 600px;
}
